@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body {
  font-family: 'MedievalSharp', cursive;
  margin: 0;
  background-image: url("../images/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  color:white;
  font-size:20px;
}

.container{
}

.topRow{
  min-height: 200px;
  height:50vh;
}

.bottomRow{
  min-height: 200px;
  height:50vh;
  align-items: flex-end;
}
.myTitle{
  margin-top: 50px;
  font-size:65px;
  width:425px;
  font-weight: bolder;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.myContent{
  background-color:black;
  margin-bottom: 50px;
  width:425px;
}

#word{
  -webkit-transition-delay: 2s; /* Safari */
  transition-delay: 2s;
}
